---
layout: report
---

<nav class="navbar bg-light fixed-top flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-sm-3 col-md-2 mr-0 transition" href="{{ site.baseurl }}/index">{% include logo.html %}</a>
	<span id="message" class="col-lg-6 alert alert-success-fade">Please read feedback on this page and click next to continue</span>
	<div class="wizard-steps col-lg-4">
		<ul>
			<li class="">1. Select audit</li>
			<li class="active">2. Review Report</li>
			<li class="">3. Complete survey</li> 
		</ul>
	</div>	
	<!--<ul class="navbar-nav px-3">
		<li class="nav-item text-nowrap">
			{% include progress-bar.html %}
		</li>
	</ul>-->
</nav>
<div class="container-fluid">
	<div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column">
					<!--<li class="nav-item">
						<a class="nav-link" href="#">
						  <i class="far fa-arrow-alt-circle-up"></i>Back to top 
						</a>
					</li>-->
					<li class="nav-item" id="blocka-link">
						<a class="nav-link" href="#block-a">
						  <i class="fas fa-chart-bar mr-2"></i>Results
						</a>
					</li>
					<li class="nav-item" id="blockc-link">
						<a class="nav-link" href="#block-c">
						  <i class="fas fa-check mr-2"></i>Recommendations for action 
						</a>
					</li>
					<li class="nav-item" id="blockd-link">
						<a class="nav-link" href="#block-d">
						  <i class="fas fa-search mr-2"></i>Patient experience 
						</a>
					</li>
					<li class="nav-item" id="blocke-link" style="display:none">
						<a class="nav-link" href="#block-e">
						  <i class="far fa-star mr-2"></i>Participation and benchmarking 
						</a>
					</li>
					<li class="nav-item" id="blockf-link">
						<a class="nav-link" href="#block-f">
						  <i class="far fa-comment-alt mr-2"></i>A patient account 
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">National Diabetes Audit<small class="text-muted">2017-2018</small>
				      <!--<label class="switch pull-right">
					<input type="checkbox" id="toggleSwitch" onclick="toggleSwitch()">
					<span class="slider round"></span>
				      </label>-->
				</h1>
			</div><!--end d-flex--->
			<div id="audit-standard" class="audit-standard" title="Audit Standard">
			      <blockquote class="blockquote" style="border-left:5px,blue">
				      <p class="mb-0"><strong>Audit Standard: </strong>People who have had urgent 3D imaging for major trauma have a provisional written radiology report within 60 minutes of the scan.</p>
			      </blockquote>
			</div><!--audit standard--->
			<h2 id="blocka-header">Results</h2>
			      <p>Your hospital achieved this standard of care for <strong>78% (359/462) of patients.</strong>.</p>
			<div id="block-a" title="mod-7">
			      <p class="toggle-mod">This chart shows your performance in comparison with other hospitals. </p>
			      <p class="toggle-mod" style="display:none">?</p>
			</div><!--end block a-->
			<div id="block-b" title="mod-9">
			      <div class="toggle-mod" style="display:block">
				    <p>The highest achieving quarter of hospitals is highlighted in yellow.</p>
				    {% include mod-9-svg.html %}  
			      </div>
			      <div class="toggle-mod" style="display:none">
				    <!--Off contains no content-->  
			      </div>
			</div><!--end block b-->
			<div id="block-c" title="mod-3" class="section">
			      <div class="toggle-mod">
				    <h2 id="blockc-header">Recommendations for action</h2>
				    <ul class="list-group">
					  <li class="list-group-item">
						<i class="fas fa-check-circle mr-1"></i>Ensure your IT system is set up to enable scans for reporting. This can be done through remote access, if necessary.
					  </li>
					  <li class="list-group-item">
						<i class="fas fa-check-circle mr-1"></i>Ensure your hospitals has sufficient access to radiology reporting.
					  </li>
					  <li class="list-group-item">
						<i class="fas fa-check-circle mr-1"></i>Produce a written provisional summary, which gives the diagnosis, management plan and expected outcome within 60 minutes of the scan.

					  </li>
					  <li class="list-group-item">
						<i class="fas fa-check-circle mr-1"></i>Monitor any delays in radiology reporting.
					  </li>                
				    </ul>
			      </div>
			      <div class="toggle-mod" style="display:none">
				    <!--Off contains no content--> 
			      </div>
			</div><!--end block c-->
			<div id="block-d" title="mod-12" class="section">
				<h2 id="blockd-header">Patient experience </h2>
			      <div class="row">
				      <div class="col-md-4">
					      	<ul class="nav nav-pills flex-column" id="myTab" role="tablist" aria-orientation="vertical">
							<li class="nav-item">
								<a class="nav-link active" id="home-tab" data-toggle="tab" href="#evidence" role="tab" aria-controls="evidence" aria-selected="true">What is the rationale for this standard?</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="therapies-tab" data-toggle="tab" href="#therapies" role="tab" aria-controls="therapies" aria-selected="false">Which patients should be considered for 3D imaging?</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="patients-tab" data-toggle="tab" href="#patients" role="tab" aria-controls="patients" aria-selected="false">Performance comparison for all England and Wales. </a>
							</li>
						</ul>
				      </div>
				      <div class="col">
						<div class="tab-content">
					  <div class="tab-pane active" id="evidence" role="tabpanel" aria-labelledby="evidence-tab">
						<p>Obtaining the results of 3D imaging for chest trauma, haemorrhage and spinal injury as soon as possible allows for earlier diagnosis and decisions to be made on management, for example whether interventions such as surgery or interventional radiology are needed. Earlier treatment can reduce mortality and length of hospital stay and improve health-related quality of life.</p>
						  <p>Trauma. NICE quality standard [QS166]. March 2018</p>
					  </div>
					 
							
							<div class="tab-pane" id="patients" role="tabpanel" aria-labelledby="patients-tab">
					      <div class="col-sm-12">
						 <img class="col-md-7" src="{{ site.baseurl }}/images/table.png" alt="">
					      </div>
						  
						  
						    
					  </div><!--end patient tab-pane-->
					  <div class="tab-pane" id="therapies" role="tabpanel" aria-labelledby="therapies-tab">
						
						  <p>Consider immediate CT for adults (16 or over) with suspected chest trauma without severe respiratory compromise who are responding to resuscitation or whose haemodynamic status is normal.</p>
<p>Consider immediate CT for patients with suspected haemorrhage if they are responding to resuscitation or if their haemodynamic status is normal.</p>
<p>Use clinical findings and the scanogram to direct CT of the limbs in adults (16 or over) with limb trauma.</p>
<p>For adults who have sustained a head injury and have any of the following risk factors, perform a CT head scan within 1 hour of the risk factor being identified:</p>
<ul>
	<li>GCS less than 13 on initial assessment in the emergency department.</li>
<li>GCS less than 15 at 2 hours after the injury on assessment in the emergency department.</li>
<li>Suspected open or depressed skull fracture.</li>
<li>Any sign of basal skull fracture (haemotympanum, 'panda' eyes, cerebrospinal fluid leakage from the ear or nose, Battle's sign).</li>
<li>Post-traumatic seizure.</li>
<li>Focal neurological deficit.</li>
<li>More than 1 episode of vomiting.  For adults with any of the following risk factors who have experienced some loss of consciousness or amnesia since the injury, perform a CT head scan within 8 hours of the head injury:</li>
<li>Age 65 years or older.</li>
<li>Any history of bleeding or clotting disorders.</li>
<li>Dangerous mechanism of injury (a pedestrian or cyclist struck by a motor vehicle, an occupant ejected from a motor vehicle or a fall from a height of greater than 1 metre or 5 stairs).</li>
<li>More than 30 minutes' retrograde amnesia of events immediately before the head injury.</li>
</ul?
	<p>For children who have sustained a head injury and have any of the following risk factors, perform a CT head scan within 1 hour of the risk factor being identified:</p>
						  <ul>
						  <li>Suspicion of non-accidental injury</li>
							  <li>
Post-traumatic seizure but no history of epilepsy.</li>
							  <li>On initial emergency department assessment, GCS less than 14, or for children under 1-year GCS (paediatric) less than 15.</li>
							  <li><At 2 hours after the injury, GCS less than 15./li>
							  <li><Suspected open or depressed skull fracture or tense fontanelle./li>
							  <li>Any sign of basal skull fracture (haemotympanum, 'panda' eyes, cerebrospinal fluid leakage from the ear or nose, Battle's sign).</li>
							  <li>Focal neurological deficit.</li>
								  <li>For children under 1 year, presence of bruise, swelling or laceration of more than 5 cm on the head.</li>
								  </ul>
						  
						  
						  
						</div><!--end therapies tab-pane-->
					  </div><!--end mod-on-->
					  <div class="toggle-mod" style="display:none">
						 <!--Off contains no content-->       
					  </div>
				    </div>				      
				      </div>
			      <!-- PROBABLY NOT REQUIRED... TO REMOVE<script>
				$(function () {
				  $('#myTab li:first-child a').tab('show')
				})
			      </script>-->
			</div><!--end block d-->
			<div id="block-f" title="mod-10" class="section" style="display:none">
			      <div class="toggle-mod">
				     <!--On contains no content-->       
			      </div>
			      <div class="section">
				      <h2 id="blockf-header">Participation & benchmarking</h2>
				     <div class="row">
					<div class="col">
						<strong>ABOUT NDA</strong>
						    <p>The NDA supports improvement in the quality of diabetes care by enabling participating NHS services and organisations to:</p>
						    <ul>
							<li>Assess local practice against NICE guidelines</li>
							<li>Compare their care and care outcomes with similar services and organisations</li>
							<li>Identify gaps or shortfalls that are priorities for improvement</li>
							<li>Identify and share best practice</li>
							<li>Provide comprehensive national pictures of diabetes care and outcomes in England and Wales</li>
						    </ul>Through participation in the audit, local services are able to benchmark their performance and identify where they are performing well and improve the quality of treatment and care they provide.<p></p>
					  </div>
					  <div class="col">
						<strong>National percentage of people with type 2 diabetes receiving NICE recommended care processes 2017-18.</strong>
						<ul class="list-group">
							<li class="list-group-item">HbA1c<span class="label label-default pull-right">95.3%</span></li>
							<li class="list-group-item">Blood pressure<span class="label label-default pull-right">96.3%</span></li>
							<li class="list-group-item">Serum cholesterol<span class="label label-default pull-right">92.9%</span></li>
							<li class="list-group-item">Serum creatinine<span class="label label-default pull-right">95.1%</span></li>
							<li class="list-group-item">Urine Albumin/Creatinine Ratio<span class="label label-default pull-right">66.2%</span></li>
							<li class="list-group-item">Foot Risk Surveillance<span class="label label-default pull-right">86.8%</span></li>
							<li class="list-group-item">Body Mass Index<span class="label label-default pull-right">8.0%</span>8</li>
							<li class="list-group-item">Smoking History<span class="label label-default pull-right">95.5%</span></li>
							<li class="list-group-item">All eight processes of care<span class="label label-default pull-right">58.8%</span></li>
						</ul>
					  </div>
				    </div>

			      </div>

			</div><!--end block f-->
			<div id="block-e" title="mod-16" class="patient-story section">
			      <div class="toggle-mod">
				    <h2 id="blocke-header">A patient account</h2>
				    <div class="media">
				      <img src="/images/patient.png" alt="patient photo" class="img-circle img-responsive align-self-start mr-3" style="width:64px; height:64px">
				      <div class="media-body">
					<h5 class="mt-0">Daniel Kristeen</h5>
					<p>Our Jack was seriously injured in a head-on car crash. He was badly injured and was taken straight to hospital. The A&E doctors were concerned that he was a bit confused.  And so they arranged a scan and quickly detected that he had bleeding on his brain. They then took him straight to the operating theatre for surgery. Without that emergency treatment, Jack might not be with us today.
</p>
				      </div>
				    </div>
			      </div>
			      <div class="toggle-mod" style="display:none">
				     <!--Off contains no content-->       
			      </div>
			      <!--
			      <div class="col-md-1 col-sm-1">
				    <img src="" alt="patient photo" class="img-circle img-responsive">
			      </div>
			      <div class="col-md-11 col-sm-8">
				    <h2 class="m-b-0">Daniel Kristeen</h2>
				    <blockquote class="blockquote">
				      <p class="mb-0"></p>
				    </blockquote>
				    <h4></h4>
			      </div>
			      -->
			</div><!--end block e-->
			
			<div class="row section">
			       <a href="#" class="btn btn-link">Back to top</a>
			      <a href="{{ site.baseurl }}/survey" data-toggle="tooltip" data-placement="right" title="Proceed to final task!" class="btn btn-success">Next</a>
			</div>

</main>
      </div><!-- END ROW-->
</div><!-- END CONTAINER_FLUID-->
<script>
  document.getElementsByClassName("progress-bar")[0].setAttribute("style", "width:60%");
      $('#mod12Tab a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
      })
      function toggleSwitch() {
        var x = document.getElementByClassName("toggle-mod");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }  
      
</script>

