<ul class="list-inline col-md-7 col-lg-7 col-sm-12 col-xs-12 legend">
                <li>
                    <h5><i class="fa fa-circle m-r-5 text-info"></i>Top quartile of hospitals (95.4%)</h5>
                </li>
                <li>
                    <h5><i class="fa fa-circle m-r-5"></i>Your hospital (78%)</h5>
                </li>
            </ul>
<svg width="70%" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 846.07 395.92">
  <defs>
    <style>
      .cls-1 {
        fill: #a5a5a5;
      }

      .cls-2 {
        font-size: 20.04px;
        font-family: ArialMT, Arial;
      }

      .cls-2, .cls-4 {
        fill: #595959;
      }

      .cls-3 {
        letter-spacing: 0em;
      }

      .cls-4 {
        font-size: 27.98px;
        font-family: Arial-BoldMT, Arial;
        font-weight: 700;
      }

      .cls-5 {
        fill: #ff0;
        opacity: 0.5;
      }

      .cls-6 {
        fill: #fff;
      }
    </style>
  </defs>
  <title></title>
  <g>
    <rect x="442.56" y="108.36" width="8.64" height="271.8"/>
    <path class="cls-1" d="M28.28,389.24H19.64v-3.48h8.64Zm27.72,0H47.24V319.52H56Zm27.6,0H75V319.52H83.6Zm27.72,0h-8.76V312.56h8.76Zm27.6,0h-8.64V295.16h8.64Zm27.72,0h-8.76V284.72h8.76Zm27.6,0H185.6V267.32h8.64Zm27.72,0h-8.64V267.32H222Zm27.6,0h-8.64V249.8h8.64Zm27.72,0h-8.64V242.84h8.64Zm27.6,0h-8.64V235.88h8.64Zm27.72,0H324V183.68h8.64Zm27.6,0h-8.64V173.12h8.64Zm27.72,0h-8.64V155.72h8.64Zm27.6,0h-8.64V155.72h8.64Zm27.72,0H434.6V155.72h8.64Zm55.32,0h-8.64V107h8.64Zm27.6,0h-8.64V100h8.64Zm27.72,0h-8.64V96.56h8.64Zm27.72,0h-8.76V93h8.76Zm27.6,0h-8.64V89.48h8.64Zm27.72,0h-8.76V79h8.76Zm27.6,0h-8.64V72.08h8.64Zm27.72,0h-8.76V65.12h8.76Zm27.6,0H711.2V54.68h8.64Zm27.72,0H738.8V51.2h8.76Zm27.6,0h-8.64V40.76h8.64Z" transform="translate(-19.64 -9.08)"/>
    <text class="cls-2" transform="translate(776.36 386.64)">0</text>
    <text class="cls-2" transform="translate(776.36 351.79)">10</text>
    <text class="cls-2" transform="translate(776.36 316.92)">20</text>
    <text class="cls-2" transform="translate(776.36 282.07)">30</text>
    <text class="cls-2" transform="translate(776.36 247.2)">40</text>
    <text class="cls-2" transform="translate(776.36 212.35)">50</text>
    <text class="cls-2" transform="translate(776.36 177.48)">60</text>
    <text class="cls-2" transform="translate(776.36 142.63)">70</text>
    <text class="cls-2" transform="translate(776.36 107.76)">80</text>
    <text class="cls-2" transform="translate(776.36 73.91)">90</text>
    <text class="cls-2" transform="translate(776.36 39.04)">1<tspan class="cls-3" x="11.15" y="0">0</tspan><tspan x="22.21" y="0">0</tspan></text>
    <g>
      <text class="cls-4" transform="translate(835.53 114.71) rotate(-90)"> </text>
      <text class="cls-4" transform="translate(835.53 124.03) rotate(-90)">t</text>
      <text class="cls-4" transform="translate(835.54 141.13) rotate(-90)">n</text>
      <text class="cls-4" transform="translate(835.54 156.69) rotate(-90)">e</text>
      <text class="cls-4" transform="translate(835.53 181.57) rotate(-90)">m</text>
      <text class="cls-4" transform="translate(835.54 197.24) rotate(-90)">e</text>
      <text class="cls-4" transform="translate(835.53 212.8) rotate(-90)">v</text>
      <text class="cls-4" transform="translate(835.54 228.41) rotate(-90)">e</text>
      <text class="cls-4" transform="translate(835.53 236.19) rotate(-90)">i</text>
      <text class="cls-4" transform="translate(835.53 253.29) rotate(-90)">h</text>
      <text class="cls-4" transform="translate(835.54 268.85) rotate(-90)">c</text>
      <text class="cls-4" transform="translate(835.53 289.05) rotate(-90)">A</text>
      <text class="cls-4" transform="translate(835.54 296.5) rotate(-90)"> </text>
      <text class="cls-4" transform="translate(835.54 320.76) rotate(-90)">%</text>
    </g>
    <rect class="cls-5" x="607.68" y="12.92" width="150.36" height="383"/>
    <rect class="cls-6" x="370.8" width="150.36" height="51.72"/>
  </g>
</svg>
